@model IEnumerable<QuanLyHopDong.Models.Loai_Hop_Dong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten_Loai_Hop_Dong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_Loai_Hop_Dong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Loai_Hop_Dong }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Loai_Hop_Dong }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Loai_Hop_Dong })
        </td>
    </tr>
}

</table>
