@model QuanLyHopDong.Models.Nguoi_Dung

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nguoi_Dung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten_Dang_Nhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_Dang_Nhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mat_Khau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat_Khau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ho_Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ho_Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngay_Sinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay_Sinh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Nguoi_Dung }) |
    @Html.ActionLink("Back to List", "Index")
</p>
